.navbar {
    margin-bottom: 50px;
    border-radius: 0;
}

    /* Remove the jumbotron's default bottom margin */
 .jumbotron {
     margin-bottom: 0;
}

.imgClass{
    display: block;
    max-width: 100%;
    height: auto;
}

#test {
    padding: 1em 0px 2.7em 0px;
    border: 1px solid #ECEAEA;
    box-sizing: border-box;
    text-align: center;
}

/* Add a gray background color and some padding to the footer */

footer {
    background-color: #f2f2f2;
    padding: 25px;
}